html{
    position: relative;
    min-height: 100%;
}

body {
    background-color: #FFFFFF;
    font-size: 16px;
    margin: 0 0 100px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    font-family: 'Merriweather', 'Geogria', serif;
    text-align: center;
}

.form-group h6{
    color: #FC645C;
    display: inline-block;
}


a:visited {
    color: #92C2DC;
}


#carousel-example-generic {
    width: 90%;
    margin: auto;
    margin-bottom: 3em;
}

footer {
    position: absolute;
    padding: 10px 0 5px;
    left: 0;
    bottom: 0;
    background-color: #F8F8F8;
    clear: both;
    text-align: center;
    color: black;
    overflow:hidden;
    height: 50px;
    width: 100%;
}


li {
    opacity: 0.8;
    text-align: center;
    font-size: 70%;
    letter-spacing: 0.1em;
}

li:hover {
    color: #FFFFFF;
    background: white;
}

.wrap {
    padding-left: 20%;
    padding-right: 20%;
}


.guide-container {
    margin-top: 0;
    width: 40%;
    max-width: 200px;
    top: 55px;
    bottom: 70px;
    position: absolute;
    overflow:hidden;
    background-color: #F8F8F8;
}
.guide-container a {
    color: black;
}
.guide-container h3 {
    text-align: left;
    padding-left: 10px;
}
.guide-container ul {
    text-align: left;
}

.admin-manage {
    padding-left: 250px;
    padding-right: 50px;
}

.admin-manage h3 {
    text-align: left;
}

.table {
    padding-top: 2%;
}

#carousel-example-generic {
    max-width: 60%;
    z-index: -2;
}

.project-list {
    padding-left: 5%;
    padding-right: 5%;
}

.project-list h3 {
    text-align: left;
}






















